* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #000428, #004e92);
}

.clock-container {
  background: black;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

h2 {
  color: white;
  margin-bottom: 20px;
}

#clock {
  color: #00ffff;
  font-size: 40px;
  letter-spacing: 3px;
}
